@import './../../../global/css/main.css';

body {
  text-align: center;
  cursor: default;
}

h1 {
  position: absolute;
  bottom: 2.5rem;
  width: calc(100% - 2rem);
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color:rgb(255, 255, 255)
}

h4{
  color:rgb(255, 255, 255)
}


h3 {
  position: absolute;
  bottom: 1.9rem;
  width: calc(100% - 2rem);
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.animation {
  position: absolute;
  top: 28%;
  left: 32%;
}

.base {
  position: absolute;
  top: 40%;
  left: 48%;
}

#version {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
}